body {
  margin: 0;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

#shape {
  position: relative;
  width: 74px;
  height: 74px;
  left: 28px;
  top: -9px;
}

#shape1 {
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 34px;
  top: 0;
  background: url(images/Shape.svg);
  background-blend-mode: normal, overlay, normal;
}

#mobile-logo {
  position: absolute;
  width: 72px;
  height: 74px;
  left: 0;
  top: 0;
  background: url(images/Shape1.svg);
  background-blend-mode: normal, overlay, normal;
}

#mobile-menu {
  display: flex;
  height: 78px;
  align-items: center;
  width: 20px;
  background: url(images/ic_menu.png);
  background-repeat: no-repeat;
  margin: 10px;
}

.main-header {
  display: none;
}

.dot-img1 img {
  display: none;
}

.headings {
  font-size: 50px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  font-family: Playfair Display, serif;
  margin-bottom: 20px;
  margin-left: 20px;
}

.projects-block h2 {
  font-size: 4em;
  font-family: Playfair Display, serif;
  margin-right: 20px;
  color: #1a2236;
}

#primary-text h1 {
  font-size: 50px;
  font-family: Playfair Display, serif;
  padding: 0 20px;
  color: #1a2236;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.content p {
  font-family: Poppins, serif;
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #1a2236;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 355px;
  height: 50px;
  font-family: Poppins, serif;
  color: white;
  background-color: #1a2236;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid  #1a2236;
}

.button:visited {
  background-color: white;
  color: #1a2236;
  border: 2px solid  #1a2236;
}

.geometry-image2 {
  height: 222px;
  margin-top: 30px;
  background: url(images/image_geometry_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.geometry-image1 {
  display: none;
}

.laptop-img img {
  width: 100%;
}

.project-details {
  width: 100%;
  margin-top: -6px;
}

.tech-stack {
  display: flex;
}

.project-name {
  font-weight: 300;
  margin: 0;
  font-size: 20px;
  font-family: Poppins, serif;
  color: white;
}

.tech-details {
  padding: 10px 0 30px 20px;
  background-color: #1a2236;
}

.details-button button {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Poppins', serif;
  background: transparent;
  display: flex;
  width: 176px;
  padding: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.project {
  display: flex;
  flex-direction: column;
}

.union {
  background-image: url(images/Union.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: relative;
  left: 15px;
  top: 4px;
}

.details-button div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section p {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.details-button div p {
  margin: 10px 15px 10px 0;
  font-size: 18px;
  font-family: Poppins, serif;
  color: white;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.competency {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button.download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background-image: url(images/ic_download.svg);
  width: 26px;
  height: 26px;
  position: relative;
  left: 10px;
  background-repeat: no-repeat;
}

.grid-item {
  margin-top: 20px;
  width: 289px;
  height: 289px;
  padding: 32px;
}

li.grid-item {
  list-style: none;
  position: relative;
  right: 17px;
}

.language {
  background-color: #1c528a;
  background-image: url(images/hash_icon.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.frameworks {
  background-color: #e2505c;
  background-image: url(images/Rectangle\ 19.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.skills {
  background-color: #febf52;
  background-image: url(images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.grid-item h3 {
  color: white;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 30px;
  position: relative;
  left: 23px;
}

/* form css */
.form-section {
  background-color: #f9f9fa;
}

.form-background {
  background-image: url(images/image_geometry_3.svg);
  height: 74px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.form-view input {
  padding: 10px;
  margin-bottom: 10px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid #dfdfe0;
}

.form-view label {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: 'Poppins', serif;
  color: #7d7c84;
}

.input-form {
  height: 50px;
  font-family: 'Poppins', serif;
  color: white;
  background-color: #1a2236;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

.input-group textarea {
  font-family: 'Poppins', serif;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #dfdfe0;
  font-size: 14px;
  color: #7d7c84;
}

.footer {
  background-color: #1a2236;
  margin-top: 20px;
  padding-top: 1px;
}

.link {
  background-image: url(images/ic_link_teal.svg);
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
}

.get-cv {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.get-cv a {
  text-decoration: none;
  color: #92dcdc;
  font-family: Poppins, serif;
  padding: 9px;
}

.form-section h2 {
  margin-top: 32px;
  margin-bottom: 0;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.get-started {
  margin-left: 20px;
}

ul.social-contents {
  padding: 0;
  margin: 0;
}

.social-contents li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 35px;
}

.grid-item-head ul li {
  list-style: none;
  font-weight: 900;
  position: relative;
  right: 17px;
}

ul.tech-stack li {
  font-weight: 300;
  font-family: 'Poppins', serif;
  font-size: 12px;
  position: relative;
  right: 47px;
  padding: 4px;
  margin: 7px;
  list-style: none;
  background-color: #98dede;
}

.grid-item ul > li {
  list-style: disc;
  color: white;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-size: 19px;
  line-height: 30px;
  font-weight: 100;
}

.show {
  display: none;
}

.union.black {
  display: none;
}

.c-img {
  display: none;
}

.d-img {
  display: none;
}

.g-img3 {
  display: none;
}

.e-img {
  display: none;
}

/* Desktop View Media Quries ------------------- */
@media only screen and (min-width: 768px) {
  .geometry-image2 {
    display: none;
  }

  .c-img {
    display: block;
  }

  .d-img {
    display: block;
  }

  .g-img3 {
    display: block;
  }

  .e-img {
    display: block;
  }

  img.hide {
    display: block;
  }

  .dot-img1 img {
    
    position: relative;
    left: 566px;
    top: 96px;
    height: 166px;
  }

  .img5 img {
    display: block;
  }


  .dot-img {
    background-image: url(images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    top: 99px;
    left: 63px;
  }

  .dot-img li {
    list-style-type: none;
  }

  .geometry-image1 {
    display: block;
    background: url(images/image-geometry_1.svg);
    background-repeat: no-repeat;
    height: 877px;
    min-width: 702px;
  }

  .headline {
    display: flex;
    align-items: center;
  }

  .content {
    margin: 0 auto;
    width: 70%;
    display: block;
  }

  .content p {
    padding: 0 0;
    margin-top: 20px;
    letter-spacing: normal;
  }

  #primary-text h1 {
    position: relative;
    width: 80%;
    left: 80px;
    font-size: 90px;
    margin-bottom: 40px;
  }

  .button {
    width: 254px;
    margin-top: 30px;
  }

  .mobile-header {
    display: none;
  }

  .main-header {
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-bottom: solid 1px #e1e1e1;
  }

  .social-contents li {
    padding: 0;
  }

  .social-contents li a {
    padding: 0 20px;
  }

  .main-menu ul li {
    list-style-type: none;
    padding: 0 20px;
    font-size: 18px;
    font-family: Poppins, serif;
    cursor: pointer;
  }

  .main-menu ul li a {
    text-decoration: none;
    color: black;
  }

  .main-menu ul {
    display: flex;
    justify-content: center;
  }

  .main-menu ul li a:hover {
    transform: scale(2);
    color: #e2505c;
    font-size: 17px;
  }

  /* project grid section */

  .project-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.37fr 0.1fr 0.2fr 0.8fr;
    grid-template-areas:
      "header aside aside aside"
      "sidebar sidebar main main"
      "cont cont main main"
      "footer footer-side footer-side footer-side";
    margin-top: 220px;
  }

  .project {
    display: block;
  }

  .a {
    grid-area: header;
  }

  .a-img {
    background-image: url(images/image_dots.svg);
    background-repeat: no-repeat;
    height: 129px;
    width: 129px;
    position: relative;
    left: 342px;
    top: -145px;
  }

  .img2 img {
    height: 472px;
  }

  .get-started h2 {
    font-size: 5em;
    text-align: center;
  }

  .headings.a h2 {
    transform: rotate(-90deg);
    position: relative;
    right: 30px;
    margin-top: 0;
    font-weight: 100;
  }

  .b {
    grid-area: aside;
  }

  .c {
    grid-area: sidebar;
    display: flex;
    flex-direction: row;

    /* background-image: url(images/image-geometry_2.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 361px; */
  }

  .form-desk-backround {
    background-image: url(images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 350px;
    width: 263px;
  }

  .from-desktop {
    width: 40%;
    margin: 0 auto;
    margin-top: -212px;
  }

  .get-started {
    margin-left: 0;
  }

  .form-view input {
    width: 224px;
  }

  .get-started p {
    margin-left: 17px;
    letter-spacing: 0;
  }

  section.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
  }

  .footer-desk {
    display: flex;
    margin-top: -174px;
  }

  .footer-desk-backroung {
    background-image: url(images/image-geometry_7.svg);
    background-color: #f9f9fa;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
  }

  .background-footer {
    width: 78%;
    background: #f9f9fa;
  }

  .get-cv {
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }

  ul.social-contents {
    margin: 20px 0;
    margin-left: 330px;
  }

  .input-flex {
    display: flex;
  }

  .content.desk {
    width: 130%;
    margin-left: 20px;
  }

  .grid-item {
    margin-top: 0;
    width: 289px;
    height: 289px;
    padding: 6px;
  }

  .about-text {
    margin-left: 14px;
  }

  .d {
    grid-area: main;
    display: flex;
    flex-direction: column-reverse;
    place-content: flex-end;
    margin-top: 32px;
  }

  .d-img img {
    height: 178px;
    position: relative;
    left: 125px;
    margin-top: -7px;
  }

  .laptop-img.img1 {
    margin-top: 50px;
  }

  .e {
    grid-area: cont;
    margin-top: -14px;
    display: flex;
    flex-direction: row;
  }

  .e-img img {
    position: relative;
    top: 295px;
  }

  .laptop-img.img2 {
    display: flex;
    align-items: flex-end;
  }

  .f {
    grid-area: footer;
  }

  .g {
    grid-area: footer-side;
    display: flex;
    flex-direction: row;
    margin-top: -1px;
  }

  .g-img3 img {
    position: relative;
    left: 230px;
    top: -1px;
  }

  /* resize project images */

  .laptop-img img {
    width: auto;
  }

  .img3 img {
    height: 291px;
    position: relative;
    left: 230px;
    top: -3px;
  }

  .img img {
    height: 413px;
    width: 100%;
  }

  .img1 img {
    height: 280px;
  }

  .hide {
    display: none;
  }

  .img4 img {
    height: 284px;
    margin-top: -5px;
  }

  h2.project-name.top {
    font-size: 35px;
    font-weight: 700;
  }

  /* desktop about us section */
  section.about {
    display: flex;
    flex-direction: row-reverse;
    width: 1000px;
    margin: 80px auto;
  }

  ul.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }

  .project-details.top {
    margin-top: -240px;
    position: relative;
  }

  .tech-details.top-details {
    padding: 20px 10px 81px 48px;
  }

  h2.project-name.head {
    font-size: 40px;
    font-weight: 500;
  }

  ul.tech-stack.tech li {
    padding: 4px 15px;
    font-size: 14px;
  }

  .details-button.btn button {
    background: white;
    color: black;
    padding: 5px 23px;
    align-items: center;
    width: auto;
  }

  .union.white {
    display: none;
  }

  .union.black {
    display: block;
    background-image: url(images/Union_black.png);
    position: relative;
    top: 7px;
  }

  button.input-form {
    width: 40%;
    margin: 20px auto;
    z-index: 1;
  }

  .input-group textarea {
    z-index: 1;
  }

  .c-img img {
    width: 470px;
    position: relative;
    left: 17px;
  }
}
