.mobile-header {
  display: flex;
  justify-content: space-between;
}

#shape {
  position: relative;
  width: 74px;
  height: 74px;
  left: 28px;
  top: -9px;
}

#shape1 {
  position: absolute;
  top: 0;
  left: 0;
}

#mobile-menu {
  display: flex;
  height: 78px;
  align-items: center;
}

#menu-icon {
  width: 40px;
}

.main-header{
  display: none;
}

.projects-block h2 {
  font-size: 4em;
  font-family: Playfair Display, serif;
  margin-right: 20px;
}

#primary-text h2 {
  font-size: 4.5em;
  font-family: Playfair Display, serif;
  padding: 0 20px;
}

.content p {
  font-size: 30px;
  font-family: Poppins, serif;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 288px;
  height: 50px;
  font-size: 20px;
  font-family: Poppins, serif;
  color: white;
  background-color: #1a2236;
  align-items: center;
}

.button:hover{
  background-color: white;
  color: #1a2236;
}

.geometry-image2 img {
  width: 100%;
  margin-top: 30px;
}

.geometry-image1 img{
  display: none;
}

.laptop-img img {
  width: 100%;
}

.project-details {
  width: 100%;
  margin-top: -6px;
}

.tech-stack {
  display: flex;
}

.project-name {
  margin: 0;
  font-size: 1.5em;
  font-family: Poppins, serif;
  color: white;
}

.tech-details {
  padding: 10px 0 30px 20px;
  background-color: #1a2236;
}

.tech-stack p {
  font-family: Poppins, serif;
  font-size: 14px;
  background-color: #98dede;
  padding: 10px;
  margin-right: 20px;
}

.details-button {
  border: solid 2px white;
  width: 230px;
}

.details-button div {
  display: flex;
  align-items: center;
}

.details-button div p {
  padding: 0 28px 0 15px;
  font-size: 18px;
  font-family: Poppins, serif;
  color: white;
}

@media only screen and (min-width: 768px) {
  .geometry-image1 img {
    display: block;
  }

  .geometry-image2 img {
    display:none ;
  }
  .headline {
    display: flex;
  }

  .content {
    display: block;
    padding: 0 24px;
  }

  .content p {
    font-size: 20px;
    padding: 0 0;
  }
.mobile-header {
  display: none;
}

.main-header {
  padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-bottom: solid 1px #e1e1e1;
}

.main-menu ul li {
  list-style-type: none;
  padding: 0 20px;
  font-size: 18px;
  font-family: Poppins, serif;
  cursor: pointer;
}
.main-menu ul li a {
  text-decoration: none;
  color: black;
}

.main-menu ul {
display: flex;
 justify-content: center;
}

.project{
  display: none;
}

}
